/* Color palette: https://lospec.com/palette-list/oil-6
 *
 * #fbf5ef
 * #f2d3ab
 * #c69fa5
 * #8b6d9c
 * #494d7e
 * #272744
 */

$foreground: #fbf5ef;
$foreground-accent: #f2d3ab;
$background: #272744;
$background-accent: #494d7e;
