---
---
@import "site";

img {
    border: 0.1em solid $background-accent;
}

img.right {
    float: right;
    margin-left: 1em;
}

img.left {
    float: left;
    margin-right: 0.5em;
}

img.full {
    width: 100%;
}

pre {
    font-family: monospace;
    line-height: 1.45;
    overflow-x: auto;
    background-color: $background-accent;
    padding: 0.2em;
    border-radius: 2px;
}

code {
    font-family: monospace;
}

pre code {
    font-size: 0.8em;
    padding: 0.2em;
    display: block;
}

p code {
    background-color: $background-accent;
    padding-left: 0.1em;
    padding-right: 0.1em;
    border-radius: 2px;
}